<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href='https://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <div class="stars"></div>
    <div class="stars2"></div>
    <div class="stars3"></div>
    <div id="title">
      <span>RESPONSIVE PURE CSS</span>
      <span>PARALLAX PIXEL stars</span>
    </div>
  </body>
</html>
